footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid grey;
    margin: 40px 15%;
    padding-top: 30px;
}
#footer-left img{
    height: 50px;
}
#footer-center img{
    height: 110px;
    -webkit-user-drag: none;
}
#footer-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#footer-right img{
    height: 30px;
}
#copyrights{
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 4px;
}