@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #FFFDFA;
    display: flex;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 10px 0px rgba(66, 68, 90, 1);
}

nav > * {
    flex: 1;
}

nav span img {
    height: 30px;
    -webkit-user-drag: none;
}

nav div {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    justify-content: center;
}

nav div > * + * { 
    margin-left: 18px;
}

nav div a {
    color: black;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

nav div a::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    width: 0;
    height: 2px;
    display: block;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    margin: 3px auto 0 auto;
}

nav div a:hover::after {
    width: 100%;
}

#burger, #burger2 {
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    width: fit-content;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

#burger2 {
    position: absolute;
    top: 18px;
    right: 0;
    padding: 10px;
}

#burger2 .bar1 {
    transform: translate(0, 0px) rotate(-45deg);
    width: 40px;
}
  
#burger2 .bar3 {
    transform: translate(0, -9px) rotate(45deg);
    width: 40px;
}

#navside {
    position: fixed;
    width: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    transition: 0.5s width;
    -webkit-transition: 0.5s width;
    -webkit-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
}

#navside > div {
    padding: 5px;
    position: relative;
}

#navsideInfo {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 40px;
    white-space: nowrap;
}

#navsideInfo a {
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

header {
    background: url("img/media/wstep.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(0.3);
}

header > div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 10%;
    text-shadow: 2px 2px black;
}

header h1 {
    margin-bottom: 15px;
    font-size: 3rem;
}

header h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

/* main {
    margin-bottom: 30px;
} */

#arrow {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0;
}

#arrow::after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #FFFDFA;
    border-right: 3px solid #FFFDFA;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: auto auto;
}

.dark {
    background-color: rgba(0, 0, 0, 0.7);
}

.wrap {
    padding: 0 15%;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    justify-items: stretch;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 40px;
    padding-bottom: 50px;
    color: white;
    overflow: hidden;
}

#cards img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pre-card {
    transform: scale(0);
    -webkit-transform: scale(0);
}

.card {
    background-color: #f7a7aa;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    grid-column-start: auto;
    grid-column-end: auto;
    transition: 0.75s transform;
    -webkit-transition: 0.75s -webkit-transform;
    -webkit-box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 1);
    z-index: 2;
}

.card:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    z-index: 3;
}

.card h2 {
    padding: 10%;
    font-size: 1.4em;
}

#search {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 15px auto;
    width: 100%;
    outline: 0;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 13px;
    font-size: 1.1rem;
    max-width: 1000px;
}

#services {
    background: url("img/media/tlo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
}

#services h2 {
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 20px;
}

#services > div {
    padding-top: 50px;
    padding-bottom: 50px;
}

#services-inner {
    transform: translate(0, 200%); 
    -webkit-transform: translate(0, 200%);
    max-width: 1000px;
    margin: 0 auto;
}

#services-inner .category {
    padding: 10px 0;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#services-inner > div h3 {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

#services-inner > div img {
    height: 25px;
    margin-right: 10px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(258deg) brightness(104%) contrast(103%);
    -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(258deg) brightness(104%) contrast(103%);
}

.arrow {
    width: 20px;
    height: 20px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    margin-right: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.expand {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.expand > div {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    margin: 0 15px;
    font-size: 1.25rem;
}

.expand > div:first-child {
    padding: 8px 0 4px 0;
}

.expand > div:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.1);
}

.expand span {
    margin-left: auto;
    display: inline-block;
}

#services a {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: inline-block;
    margin: 40px auto 0 auto;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s box-shadow;
    -webkit-transition: 0.2s box-shadow;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 24px 1px rgb(6, 6, 6);
    -moz-box-shadow: 0px 0px 24px 1px rgb(6, 6, 6);
    box-shadow: 0px 0px 24px 1px rgb(6, 6, 6);
}

#services a:hover {
    -webkit-box-shadow: 0px 0px 24px 1px rgb(27, 27, 27);
    -moz-box-shadow: 0px 0px 24px 1px rgba(27, 27, 27, 1);
    box-shadow: 0px 0px 24px 1px rgba(27, 27, 27, 1);
}

.slide, .slide2 {
    transition: 1s transform;
    -webkit-transition: 1s -webkit-transform;
}

#reviewHeader {
    font-size: 1.9rem;
    text-align: center;
    margin: 50px 10px;
}

#reviews {
    position: relative;
    margin: 40px 15%;
    padding-top: 50px;
    border-top: 2px solid grey;
}

.review {
    flex-direction: column;
    align-items: center;
    display: none;
}

.review-active {
    display: flex;
}

#reviews > span {
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#reviews > span div {
    width: 20px;
    height: 20px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    margin-right: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#reviews > span:last-child {
    right: 0;
}

#reviews > span:last-child div {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.review p {
    margin-top: 10px;
    max-width: 800px;
    text-align: justify;
    font-size: 1.3rem;
}

.review p span {
    color: grey;
}

.review img {
    width: 50px;
}

#about {
    margin: 30px 0 60px 0;
}

#about p {
    font-size: 1.3rem;
    text-align: justify;
}

#map {
    width: 70%;
    border-radius: 15px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    margin: 30px 15%;
    border: 0;
}

#searched > div {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    margin: 0 15px;
    font-size: 1.25rem;
}

#searched > div:first-child {
    padding: 8px 0 4px 0;
}

#searched > div:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.1);
}

#searched div span {
    margin-left: auto;
    display: inline-block;
}

#searched a {
    display: inline-block;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 30px 15%;
}

footer img {
    width: 100px;
}

footer > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

footer > div:first-child > div {
    text-align: center;
    width: fit-content;
}

footer > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div:nth-child(2) img {
    text-align: center;
    width: fit-content;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(84deg) brightness(107%) contrast(101%);
    -webkit-filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(84deg) brightness(107%) contrast(101%);
    width: 60px;
    padding: 0 5px;
    transition: 0.42s transform;
    -webkit-transition: 0.42s transform;
}
footer > div:nth-child(2) img:hover {
    transform: scale(0.96);
}

footer > div:last-child {
    display: flex;
    justify-content: right;
}

footer > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer > div:nth-child(3)  > div {
    text-align: right;
}

footer h4 {
    margin-bottom: 8px;
}

footer > div:nth-child(3)  > div > div {
    text-align: left;
    margin-left: auto;
    width: fit-content;
}

footer > div:nth-child(3) p {
    position: relative;
    margin-bottom: 4px;
}

footer > div:nth-child(3) img {
    width: 16px;
    position: absolute;
    left: -25px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(84deg) brightness(107%) contrast(101%);
    -webkit-filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(84deg) brightness(107%) contrast(101%);
}

footer > div:last-child  > div p {
    display: flex;
    justify-content: space-between;
}

footer > div:last-child  > div p span:first-child {
    margin-right: 10px;
}

#reviewHeader, #about, #reviews, #map {
    opacity: 0;
}

#copyright {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.anchor {
    height: 0;
    position: relative;
}

.anchor div {
    position: absolute;
    top: -80px;
}

@media screen and (max-width: 1030px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
    #menu {
        display: none;
    }
}

@media screen and (min-width: 1031px) {
    #burger {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .wrap {
        padding: 0 3%;
    }
}

@media screen and (max-width: 1370px) {
    #reviews > span {
        position: static;
        padding: 15px;
        width: min-content;
        display: inline-block;
        margin-top: 15px;
        margin-left: 12px;
    }
    #reviews > span:last-child {
        float: right;
    }
}

@media screen and (max-width: 1300px) and (min-width: 731px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    footer > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer > div:first-child > div {
        text-align: center;
        width: fit-content;
    }

    footer > div:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    footer > div:nth-child(3) {
        align-items: center;
    }

    footer > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    footer > div:last-child  > div {
        text-align: center;
    }
}

@media screen and (max-width: 730px) {
    footer {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    footer > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer > div:first-child > div {
        text-align: center;
        width: fit-content;
    }

    footer > div:nth-child(3) {
        align-items: center;
    }

    footer > div:nth-child(3) > div > div {
        padding-left: 30px;
    }

    footer > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    footer > div:last-child  > div {
        text-align: center;
    }
}