@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDFA;
}

nav {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav span {
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav span img {
    height: 30px;
}

nav div {
    margin-left: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

nav div > * + * { 
    margin-left: 12px;
}

nav div a {
    color: white;
    text-decoration: none;
}

nav div a::after {
    content: ' ';
    background-color: white;
    width: 0;
    height: 2px;
    display: block;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    margin: 0 auto;
}

nav div a:hover::after {
    width: 100%;
}

header {
    background: url("img/media/1.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 10%;
}

header h1 {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

header h2 {
    font-weight: 400;
}

#dark {
    background-color: rgba(0, 0, 0, 0.75);
}

main {
    margin: 50px 0;
}

main > * {
    margin-bottom: 25px;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    overflow: hidden;
    padding: 0 15%;
}

.slide > * {
    flex: 1;
    text-align: center;
}

.slide img {
    width: 70%;
    border-radius: 20px;
}

#slide-left, #slide-left1 {
    transform: translateX(-170%);
    -webkit-transform: translateX(-170%);
    transition: 1s;
    -webkit-transition: 1s;
}

#slide-right, #slide-right2 {
    transform: translateX(170%);
    -webkit-transform: translateX(170%);
    transition: 1s;
    -webkit-transition: 1s;
}