@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDFA;
}

nav {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav span {
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav span img {
    height: 30px;
    -webkit-user-drag: none;
}

nav div {
    margin-left: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

nav div > * + * { 
    margin-left: 12px;
}

nav div a {
    color: white;
    text-decoration: none;
    position: relative;
}

nav div a::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    width: 0;
    height: 2px;
    display: block;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    margin: 3px auto 0 auto;
}

nav div a:hover::after {
    width: 100%;
}

header {
    background: url("img/media/1.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 10%;
}

header h1 {
    margin-bottom: 15px;
    font-size: 3rem;
}

header h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

#dark {
    background-color: rgba(0, 0, 0, 0.7);
}

main {
    margin: 50px 0;
}

main > * {
    margin-bottom: 25px;
}
.wrap {
    padding: 0 15%;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    overflow: hidden;
    justify-items: stretch;
    column-gap: 10px;
    row-gap: 10px;
}

.card-top {
    grid-row-start: 1;
    grid-row-end: 2;
}

.card-bottom {
    grid-row-start: 2;
    grid-row-end: 3;
}

#cards img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    background-color: rgba(194, 194, 194, 0.4);
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    grid-column-start: auto;
    grid-column-end: auto;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: 0.75s transform ;
    -webkit-transition: 0.75s -webkit-transform;
    -webkit-box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 1);
}

.card h2 {
    padding: 10%;
}

@media screen and (max-width: 1250px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-poof {
        display: none;
    }
}